.HomeHeader {
  h1 {
    span {
      line-height: 5rem;
    }
  }
}

@media (max-width: 600px) {
  .HomeHeader {
    .p-20 {
      padding: 1%;
      padding-top: 5%;
    }
    .p-24 {
      padding: 5%;
      // padding-top: 5%;
    }
    .m-10 {
      margin: 2%;
      margin-top: 5%;
    }
    br {
      visibility: hidden;
    }
    h1 {
      span {
        line-height: 3rem;
      }
    }
  }
}
