// .AccountHeader {

// }

@media (max-width: 600px) {
  .AccountHeader {
    .p-10 {
      padding: 5%;
      padding-top: 15%;
    }

    .m-5 {
      margin: 2%;
    }

    // .m-10 {
    //   margin: 2%;
    //   margin-top: 5%;
    // }
  }
}
